<style>
        .sidebar {
            background-color: #000000;
            padding: 20px;
            overflow-y: auto;
            color: white;
        }
        .location {
            cursor: pointer;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        .location:hover {
            background-color: #e9ecef;
            color: black;
        }
        #map {
            height: 580px;
            width: 60%;
        }
        .contact-form {
            margin-top: 20px;
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .contact-form h2 {
            margin-bottom: 20px;
            font-size: 24px;
            color: #333;
        }
        .contact-form .form-control {
            margin-bottom: 15px;
        }
        .contact-form .btn {
            width: 100%;
            background-color: #007bff;
            border: none;
        }
        .contact-form .btn:hover {
            background-color: #0056b3;
        }
    </style>